:root {
  display: grid;
  height: 100%;
}

html {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

main {
  max-width: 65ch;
  margin: auto;
}

h1 {
  text-align: center;
}
