:root {
  display: grid;
  height: 100%;
}

html {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 65ch;
  margin: auto;
}

h1,
p,
obfuscated-email-address {
  text-align: center;
}

obfuscated-email-address {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
}

footer {
  padding-block-start: 40px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.examples {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 2rem;
}